@charset "utf-8";
/**
 *
 * CSS for print service
 *
 * Licensed under The MIT License
 * For full copyright and license information, please see the LICENSE.txt
 * Redistributions of files must retain the above copyright notice.
 *
 * @copyright     Copyright (c) patrick finucane
 * @link          http://welcomerobotoverlords.com
 * @package       app.webroot.css
 * @license       http://www.opensource.org/licenses/mit-license.php MIT License
 */

/** Print View **/
#active_button {
	color: red;
}
#pause_play {
	
}
