{% extends "base.html" %}

{% block content %}

	<div class="row">
		<div class="large-12 columns">
			<h2>Control</h2>
			<p>This is version 0.0.1</p>
			<p>Current IP Address: {{ messages["ip"] }}</p>
			<hr />

		</div>
        
        <div class="row">
            <div class="large-4 columns">
            <h3>Commands</h3>
            <a class="button gcode_button" href="#" id="home">Home All</a>
            <a class="button gcode_button" href="#" id="preheat">Heat</a>
            <a class="button gcode_button" href="#" id="prime">Prime</a>
            <br>
            <a class="button gcode_button" href="#" id="G28 X">Home X</a>
            <a class="button gcode_button" href="#" id="G28 Y">Home Y</a>
            <a class="button gcode_button" href="#" id="G28 Z">Home Z</a>
            <br>
            <a class="button gcode_button" href="#" data-gcode="G1 X250 Y500 F20000" id="code">Top</a>
            <a class="button gcode_button" href="#" data-gcode="G1 X50 Y50 F20000" id="code">Bottom Left</a>
            <a class="button gcode_button" href="#" data-gcode="G1 X500 Y50 F20000" id="code">Bottom Right</a>
            <br>
            <a class="button gcode_button" href="#" data-gcode="0.1" id="bump">Bump Z 0.1</a>
            <a class="button gcode_button" href="#" data-gcode="1" id="bump">Bump Z 1</a>
            <a class="button gcode_button" href="#" data-gcode="10" id="bump">Bump Z 10</a>
            <a class="button gcode_button" href="#" data-gcode="-10" id="bump">Raise</a>
            <br>
            <a class="button gcode_button" href="#" data-gcode="M18" id="code">Motors Off</a>
            
            
            
            </div>
            
            <div class="large-4 columns">
            
            </div>
        
            <div class="large-4 columns">
            <h3>Raw Gcode</h3>
            
                <form action="" method="post" id="gcodeform">
                  <table>
                    <tr>
                      <td>
                        <label for="gcode">Gcode</label>
                        <input name="gcode" id="gcode" />
                      </td>
                      <td style="padding-left:5px">
                        <input type="submit" value="{{ _("Post") }}"/>
                        <input type="hidden" name="next" value="{{ request.path }}"/>
                        {% module xsrf_form_html() %}
                      </td>
                    </tr>
                  </table>
                </form>
            
            </div>
            <hr />
        </div>
		
    </div>
    <div class="row">
        <h2>External Control</h2>
        <div class="large-4 columns">
        
            <a class="button" href="#" id="start_pt">Start Socket Pass Through</a>
            <a class="button" href="#" id="end_pt">Turn off Socket Pass Through</a>
            
        </div>
        
        <div class="large-4 columns">
        <h2>Incoming</h2>
	        <div id="incoming" style="height:500px;overflow:auto;">
	       
	       </div>

	    </div>
	    <h2>Outgoing</h2>
	    <div class="large-4 columns">
	        <div id="outgoing" style="height:500px;overflow:auto;">
	       
	       </div>
        </div>
	</div>
    

{% end %}

{% block pagescripts %}
	<script src="{{ static_url("js\control.js") }}" type="text/javascript"></script>
{% end %}

