{% extends "base.html" %}
{% block content %}

	<div class="row">
		<div class="large-12 columns">
			<h2>data base</h2>
            <div class="row"> 
            <h3>FILES</h3>
            <table>
              <thead>
                <tr>
                  <th width="200">Name</th>
                  <th>Created date</th>
                  <th width="150">Location</th>
                  <th width="150">change</th>
                  <th width="150">size</th>
                </tr>
              </thead>
              <tbody>
              
              {% for file in data['files'] %}
                <tr>
                  <td>{{ file.name }}</td>
                  <td>{{ file.created_date }}</td>
                  <td>{{ file.file_location }}</td>
                  <td>{{ file.file_mtime }}</td>
                  <td>{{ file.file_size }}</td>

                </tr>
                {% end %}
                
              </tbody>
            </table>
   
            </div> 
            
            <div class="row"> 
            <h3>FILES Details</h3>
            <table>
              <thead>
                <tr>
                  <th width="200">file_id</th>
                  <th>duration</th>
                  <th width="30">distance</th>
                  <th width="30">filament</th>
                  <th width="20">print_time</th>
                  <th width="20">layers</th>
                  <th width="20">xmin</th>
                  <th width="20">xmax</th>
                  <th width="20">ymin</th>
                  <th width="20">ymax</th>
                  <th width="20">zmin</th>
                  <th width="20">zmax</th>
                </tr>
              </thead>
              <tbody>
              
              {% for file in data['print_file_details'] %}
                <tr>
                  <td>{{ file.file_id.uuid }}</td>
                  <td>{{ file.duration }}</td>
                  <td>{{ file.distance }}</td>
                  <td>{{ file.filament }}</td>
                  <td>{{ file.print_time }}</td>
                  <td>{{ file.layers }}</td>
                  <td>{{ file.xmin }}</td>
                  <td>{{ file.xmax }}</td>
                  <td>{{ file.ymin }}</td>
                  <td>{{ file.ymax }}</td>
                  <td>{{ file.zmin }}</td>
                  <td>{{ file.zmax }}</td>

                </tr>
                {% end %}
                
              </tbody>
            </table>
   
            </div> 
            
            
            <div class="row"> 
            <h3>Prints</h3>
                        
<ul class="accordion" data-accordion>
{% for idx, print_record in enumerate(prints_details, start=1) %}

  <li class="accordion-navigation">
  
    <a href="#panel{{ idx }}a"> {{ print_record.print_file.name }} - {{ print_record.created_date }} - {{ print_record.progress }}</a>

    <div id="panel{{ idx }}a" class="content active">
    
        <table>
          <thead>
            <tr>
              <th width="200">print_file</th>
              <th>datatype</th>
              <th width="30">value</th>
              <th width="30">value_count</th>
              <th width="30">note</th>
              <th width="30">modified</th>
              <th width="30">created_date</th>
            </tr>
          </thead>
          <tbody>
          
            {% for data_point in prints_details[print_record] %}
            <tr>
              <td>{{ data_point['print_file'] }}</td>
              <td>{{ data_point['datatype'] }}</td>
              <td>{{ data_point['value'] }}</td>
              <td>{{ data_point['value_count'] }}</td>
              <td>{{ data_point['note'] }}</td>
              <td>{{ data_point['modified'] }}</td>
              <td>{{ data_point['created_date'] }}</td>
            </tr>
            {% end %}
            
          </tbody>
        </table>
            
    </div>
  </li>
  
{% end %}
</ul>
   

   
            </div> 

		</div>
        
        
<ul class="accordion" data-accordion>
  <li class="accordion-navigation">
    <a href="#panel1a">Accordion 1</a>
    <div id="panel1a" class="content active">
      Panel 1. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </div>
  </li>
  <li class="accordion-navigation">
    <a href="#panel2a">Accordion 2</a>
    <div id="panel2a" class="content">
      Panel 2. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </div>
  </li>
  <li class="accordion-navigation">
    <a href="#panel3a">Accordion 3</a>
    <div id="panel3a" class="content">
      Panel 3. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </div>
  </li>
</ul> 
 		
	</div>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.3/jquery.min.js" type="text/javascript"></script>

{% end %}


{% block pagescripts %}
	<script src="{{ static_url("js/settings.js") }}" type="text/javascript"></script>
    <script src="{{ static_url("js/foundation/foundation.accordion.js") }}" type="text/javascript"></script>
{% end %}

