{% extends "base.html" %}

{% block content %}

	<div class="row">
		<div class="large-12 columns">
			<h2>Welcome to re:3D's File Processing</h2>
			<p>This is a simple application to help you get started with OpenGB.  Before you can print your
            CAD model it must be processed into a format called 'gcode'.  Many variables go into the creating the gcode
            but we have simplity it for you to get started.  
            </p>
            
            
			<hr />

            <div class="panel">
            <h2>The Process</h2>
                <div class="row">
                    <div class="large-3 columns"><p class="text-center">
                        <i class="fa fa-codepen fa-5x"></i>
                        <br><b>CAD </b>
                        <br>(solidworks, Pro-E, etc)</p>
                    </div>
                    
                    <div class="large-1 columns"><p class="text-center">
                    <i class="fa fa-arrow-right fa-2x"></i>
                    </p>
                    </div>
                    
                    <div  class="large-3 columns"><p class="text-center">
                        <i class="fa fa-cogs fa-5x"></i>
                        <br><b>.STL file</b>
                        <br>(CAD model as triangles)</p>
                    </div>
                    
                    <div class="large-1 columns"><p class="text-center">
                    <i class="fa fa-arrow-right fa-2x"></i>
                    </p>
                    </div>
                    
                    
                    <div  class="large-4 columns"><p class="text-center">
                        <i class="fa fa-cubes fa-5x"></i>
                        <br><b>.GCODE </b>
                        <br>(printer specific instructions)</p>
                    </div>
                </div>
            </div>

		</div>
	</div>
    
    <div class="row">
    {% include "fileuploadform.html" %}
    </div>
    

	<div class="row">
		<div class="large-12 columns">

			<h3>Files</h3>
			<div class="row">
				<div class="large-12 columns">
                
                <div id="files">
  
                <table>
                  <thead>
                    <tr>
                      <th width="200">File (click to load)</th>
                      <th>Date</th>
                    </tr>
                  </thead>
                  <tbody>
                {% for file in files %}
                    <tr>
                      <td><a class="button" href="/file/{{ file['id'] }}">{{ file['name'] }}</a></td>
                      <td>{{ file['date'] }}</td>
                    </tr>
                 {% end %}
                 
                  </tbody>
                </table>


			</div>
		</div>
	</div>
	

{% end %}


{% block pagescripts %}
	<script src="{{ static_url("js\index.js") }}" type="text/javascript"></script>
{% end %}

