{% extends "base.html" %}

{% block content %}

	<div class="row">
		<div class="large-4 columns">
			<h2>Settings</h2>
            
            
            <form> 
             {% for setting in settings %}
                <div class="row"> 
                        <div class="row"> 
                            <div class="small-6 columns"> <label for="right-label" class="right inline"> {{ setting.name }}  {{ setting.gcode }} {{ setting.vector }}</label> </div> 
                            <div class="small-6 columns"> 
                                <input type="text" id="right-label" value="  {{ setting.value }} "> 
                            </div> 
                        </div> 
                </div> 
               {% end %}
                
                
                
            </form>
            
                <form action="" method="post" id="gcodeform">
                  <table>
                    <tr>
                      <td>
                        <label for="command">Gcode</label>
                        <input name="command" id="message" />
                      </td>
                      <td style="padding-left:5px">
                        <input type="submit" value="{{ _("Post") }}"/>
                        <input type="hidden" name="next" value="{{ request.path }}"/>
                        {% module xsrf_form_html() %}
                      </td>
                    </tr>
                  </table>
                </form>

			
		</div>
		
        
	</div>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.3/jquery.min.js" type="text/javascript"></script>
	<script src="{{ static_url("js\settings.js") }}" type="text/javascript"></script>
{% end %}

